{
	"apps/**/*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write"],
	"packages/**/*.{ts,tsx,js,jsx}": ["prettier --write"],
	"**/*.{md,mdx,yml,json,babelrc,eslintrc,prettierrc}": ["prettier --write"]
}
