# Text Editor
.idea/
.vscode/

# Logs
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Generated Builds
build/
tmp/
temp/
pgdata
redisdata

#IDE
.vscode
.vs
.idea
.fleet

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Docker files
docker-compose.yml
Dockerfile